# Auto detect text files and perform LF normalization
* text=auto

# Force LF for JSON, JS, TS, TSX, CSS, Markdown
*.json text eol=lf
*.js   text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.css  text eol=lf
*.md   text eol=lf